.uiCArt{
    text-align: center;
    letter-spacing: .8px;
    color: rgb(24, 86, 199);
   
    
}
.uiCArt:hover{
    transform: translate(1.2);
}

.Cartbtn{
    background-color: white;
    color: rgb(18, 63, 145);
    border: 1px solid gray;
    padding: 5px;
    width: 7rem;
    border-radius: 4px;
    margin-top: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
}

.singleName{
    margin-bottom: 5px;
    
}

