.mainContainer{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 5fr 1fr;
    
}

.cartContainer{
    margin-top: 4rem;
    background-color: aliceblue;
    padding: 15px;
    width: 15rem;
    border-radius: 8px;
    margin-bottom: 3rem;
    box-shadow: 0 10px 30px lightblue;
    /* border: 1px solid gray; */
}