.header{
    text-align: center;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 8px;
    letter-spacing: 1px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    color: rgb(24, 86, 199);
    box-shadow: 0 1px 5px lightgray;
}