.developer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 20rem;
    margin-top: 2rem;
    
  
    
}

.developer img{
    width: 70%;
    height: 30%;
    border-radius: 5%;
    margin-top: 0px;
    justify-content: center;
    
    
}
.btn{
    background: cornflowerblue;
    border: 1px solid lightgray;
    padding: 5px;
    width: 8rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn:hover{
    letter-spacing: 2px;
    background-color: aliceblue;
    border: 1px solid cornflowerblue;
}

.singleCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 18rem;
    padding: 5px;
    
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 3rem;
    box-shadow: 0 10px 30px lightgray;
}

.singleCart:hover{
    box-shadow: 0 10px 30px cornflowerblue;
}